<h1>GET Request Received.</h1>

<h3>Query String Arguments</h3>
<table>
    <tr>
        <th>Parameter Name</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Key1: </td>
        <td>{{ key1 }}</td>
    </tr>
    <tr>
        <td>Key2: </td>
        <td>{{ key2 }}</td>
    </tr>
</table>